.carousel-item {
  display: none;
}
.carousel-item.active {
  display: block;
}
.case-study {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.case-study-number {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}
.case-study-color {
  width: 30px;
  height: 30px;
}
.case-study-info {
  display: none;
}
.carousel-item.active .case-study-info {
  display: block;
}
